<?php
/** @var \Knowsaul\AdminCustomerQuoteLookUp\Block\CustCartUniqueId $block */
/** @var \Magento\Framework\Escaper $escaper */
$customerName = $block->getCustFullName();
$quoteId = $block->getCustCartUniqueId();
?>
<?php if ($block->isCustomerLoggedIn()) : ?>
<li class="cust-cart-unique-id">
    <span class="logged-in" data-bind="text: '<?= $escaper->escapeHtml(__('Hello there %1, and Welcome back. Your Customer Cart ID is:[ %2 ], Call Customer Support at 1(800)-Polywood may you need Help.', [$customerName, $quoteId])) ?>'"></span>
</li>
<?php else : ?>
    <li class="cust-cart-unique-id">
        <span class="logged-in" data-bind="text: '<?= $escaper->escapeHtml(__('Your Cart ID is:[ %1 ], Call Customer Support at 1(800)-Polywood for any Help.', !empty($quoteId) ? $quoteId : 'Empty')) ?>'"></span>
    </li>
<?php endif ?>
