<?php
/**
 * @var \Knowsaul\AdminCustomerQuoteLookUp\Block\Adminhtml\Index $block
 */
?>
<?php echo $block->getLayout()->createBlock('Magento\Backend\Block\Page\Header')->toHtml(); ?>
<main id="anchor-content" class="page-content">
    <div id="page:main-container" class="page-columns"><div class="admin__old"><div id="container" class="main-col">
        <div class="entry-edit form-inline">
            <form id="search_quote_form" method="post" action="<?php echo $block->getUrl('*/*/searchview'); ?>" data-hasrequired="<?= __('* Required Fields') ?>">
                <div class="fieldset admin__fieldset">
                    <div class="page-main-actions">
                        <div class="page-actions-placeholder"></div>
                        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                            <div class="page-actions-inner" data-title="View Customer Cart">
                                <div class="page-actions-buttons">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="admin__field field field-query_text  required _required" data-ui-id="adminhtml-search-customer-quote-by-id-form-fieldset-element-form-field-query-text">
                        <label class="label admin__field-label" for="quote_id" data-ui-id="adminhtml-search-customer-quote-by-id-form-fieldset-element-text-query-text-label">
                            <span><?= $block->escapeHtml(__('Quote ID')) ?></span>
                        </label>
                        <div class="admin__field-control control">
                            <input data-ui-id="adminhtml-search-customer-quote-by-id-form-fieldset-element-text-query-text" value="" title="Search Customer Cart by Cart ID" class="input-text admin__control-text required-entry _required" type="text" name="quote_id" id="quote_id" aria-required="true" required>
                        </div>
                    </div>
                    <?= $block->getBlockHtml('formkey') ?>
                    <div class="page-main-actions">
                        <div class="page-actions-placeholder"></div>
                        <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                            <div class="page-actions-inner" data-title="View Customer Cart">
                                <div class="page-actions-buttons">
                                    <button id="search-by-quote-id" title="Search Quote" type="submit" class="action-default scalable save primary ui-button ui-corner-all ui-widget" data-ui-id="adminhtml-search-quote-by-id-button" data-ol-has-click-handler="">
                                        <span>Search Quote</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
<script>
    document.getElementById("quote_id").addEventListener("input", function() {
        let value = parseInt(this.value);
        if (isNaN(value) || value < 1) {
            this.setCustomValidity("Please enter a valid numeric Quote ID.");
        } else {
            this.setCustomValidity("");
        }
    });
</script>
</main>
<?php if ($this->getQuoteItems($this->getRequest()->getParam('quote_id'))): ?>
    <div class="cart-grid">
        <table class="data-grid table table-striped">
            <thead>
            <tr>
                <th class="col-product">Product Name</th>
                <th class="col-sku">SKU</th>
                <th class="col-type">Type</th>
                <th class="col-options">Options</th>
                <th class="col-price">Price</th>
                <th class="col-qty">Qty</th>
                <th class="col-total">Total</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->getQuoteItems($this->getRequest()->getParam('quote_id')) as $item): ?>
                <tr>
                    <td class="col-product"><?php echo $item->getName(); ?></td>
                    <td class="col-sku"><?php echo $item->getSku(); ?></td>
                    <td class="col-type"><?php echo $item->getProductType(); ?></td>
                    <td class="col-options"><?php echo $this->getChildHtml('options_'.$item->getId()); ?></td>
                    <td class="col-price"><?php echo $item->getPrice(); ?></td>
                    <td class="col-qty"><?php echo $item->getQty(); ?></td>
                    <td class="col-total"><?php echo $this->getRowTotal($item); ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6" class="text-right">Cart Total</th>
                <th><?php echo $this->getLayout()->getBlock('adminhtml.sales.order.view.totals')->getChildHtml(); ?></th>
            </tr>
            </tfoot>
        </table>
    </div>
<?php endif; ?>
