<?php
/** @var \Magento\Backend\Model\View\Result\Page $resultPage */
/** @var  \Knowsaul\AdminCustomerQuoteLookUp\Block\Adminhtml\SearchView $block */
/** @var \Magento\Quote\Model\Quote $quote */

use Magento\ConfigurableProduct\Model\Product\Type\Configurable;
use Magento\Catalog\Model\Product\Type as ProductType;

$resultPage = $block->getResultPage();
$quote = $block->getQuote();

?>
<div class="page-main-actions">
    <div class="page-actions">
        <div class="page-actions-buttons">
            <div class="page-actions" data-ui-id="page-actions-toolbar-content-header">
                <div class="page-actions-inner" data-title="Import">
                    <div class="page-actions-buttons">
                        <button
                            id="back"
                            title="Back"
                            type="button"
                            class="action-scalable back">
                            <span><?= /* @noEscape */ __('Back to Search Customer Cart by ID') ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php $items = $quote->getAllVisibleItems(); ?>
<?php if (count($items) > 0): ?>
<div class="admin__table-wrapper">
    <div class="page-main-actions" style="margin: 3rem 0 0 0; padding: 15px 0 0 0;">
        <div class="page-actions-placeholder"><h2>Customer Details</h2></div>
    </div>
    <table class="data-grid data-grid-draggable admin__table-secondary">
        <thead>
        <tr class="headings" style="background-color:#eb5202;">
            <th class="admin__table-cell"><?= __('Customer Name') ?></th>
            <th class="admin__table-cell"></th>
            <th class="admin__table-cell"><?= __('Customer Email') ?></th>
            <th class="admin__table-cell"><?= __('Customer Type') ?></th>
            <th class="admin__table-cell"><?= __('Customer Group') ?></th>
        </tr>
        </thead>
        <tbody>
        <tr class="data-row">
            <td class="admin__table-cell" colspan="2"><?= __('%1 %2', [$quote->getCustomerFirstname(), $quote->getCustomerLastname()]) ?></td>
            <td class="admin__table-cell"><?= __('%1', [$quote->getCustomerEmail()]) ?></td>
            <td class="admin__table-cell"><?= __('%1', !$quote->getCustomerIsGuest() ? 'Registered' : 'Guest') ?></td>
            <td class="admin__table-cell"><?= __('%1', $block->lookUpCustomerGroupById($quote->getCustomerGroupId())) ?></td>
        </tr>
        </tbody>
    </table>
    <div class="page-main-actions" style="margin: 3rem 0 0 0; padding: 15px 0 0 0;">
        <div class="page-actions-placeholder"><h2>Customer Shopping Cart Details</h2></div>
    </div>
    <table class="data-grid data-grid-draggable admin__table-secondary">
        <thead>
            <tr class="headings" style="background-color:#eb5202;">
                <th class="admin__table-cell"><?= __('Product Name') ?></th>
                <th class="admin__table-cell"><?= __('Product SKU') ?></th>
                <th class="admin__table-cell"><?= __('Product Type') ?></th>
                <th class="admin__table-cell"><?= __('Product Options') ?></th>
                <th class="admin__table-cell"><?= __('Price') ?></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach ($items as $item): ?>
            <?php $product = $item->getProduct() ?>
            <?php $productType = $product->getTypeId() ?>
            <?php $options = '' ?>
            <?php if ($productType === Configurable::TYPE_CODE): ?>
                <?php $options = $block->getChildProductOptions($item) ?>
            <?php elseif ($productType == ProductType::TYPE_BUNDLE): ?>
                <?php $options = $block->getBundleOptions($item) ?>
            <?php endif ?>
            <tr class="data-row">
                <td class="admin__table-cell"><?= $product->getName() ?></td>
                <td class="admin__table-cell"><?= $product->getSku() ?></td>
                <td class="admin__table-cell"><?= $productType ?></td>
                <?php if ($productType === Configurable::TYPE_CODE): ?>
                    <td class="admin__table-cell">
                        <?php foreach ($options as $configkey => $itemOption) : ?>
                            <ul><li><?= $configkey ?>: <?= $itemOption ?></li></ul>
                        <?php endforeach; ?>
                    </td>
                <?php elseif ($productType == ProductType::TYPE_BUNDLE): ?>
                    <td class="admin__table-cell">
                        <?php foreach ($options as $optionArray) : ?>
                            <?php foreach ($optionArray as $optionKey => $optionValue) : ?>
                                <ul><li><?= $optionKey ?>: <?= $optionValue ?></li></ul>
                                <?php if ($optionKey=='price') : ?><hr style="border-top: 3px solid #bbb;"><?php endif;?>
                            <?php endforeach; ?>
                        <?php endforeach; ?>
                    </td>
                <?php else : ?>
                    <td class="admin__table-cell"><?= $options ?></td>
                <?php endif ?>
                <td class="admin__table-cell"><?= $block->formatToUsdCurrency(substr($item->getRowTotalInclTax(), 0, 5)) ?></td>
            </tr>
        <?php endforeach ?>
        <tr class="data-row">
            <td class="admin__table-cell" colspan="4"><?= __('Cart Total') ?></td>
            <td class="admin__table-cell"><b><?= $block->formatToUsdCurrency($quote->getGrandTotal()) ?></td>
        </tr>
        </tbody>
    </table>
</div>
<?php else : ?>
    <div class="cart-empty">
        <div class="message info empty"><span><?= /* @noEscape */ __('Looks like The Customer`s Cart ID: [ %1 ] that you searched for, is empty. Try a different Quote/Cart ID or Make sure that the Customer has not cleared their Cart recently.', $quote->getId()) ?></span></div>
    </div>
<?php endif ?>
<script>
    require(['jquery'], function ($) {
        $('#back').click(function () {
            self.location.href='<?= /* @noEscape */ $block->getUrl('*/*/index') ?>';
        });
    })
</script>
